html,
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  min-width: 320px;
  background: #101010;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
svg {
  max-width: 100%;
}
