PORT=4000
MONGODB_URI=mongodb+srv://DB_USER:DB_PASSWORD@cluster0.iwo4s7x.mongodb.net/planner?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
RESPONSES_DB_NAME=polvora-consultoria
RESPONSES_COLLECTION_NAME=contactmessages
RESPONSES_FALLBACK_SOURCE=polvora-consultoria
RESPONSES_SECONDARY_DB_NAME=devpage
RESPONSES_SECONDARY_COLLECTION_NAME=contacts
RESPONSES_SECONDARY_FALLBACK_SOURCE=devpage

